<style>
    
</style>

<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
  
      <div class="grid grid-cols-1" style="max-width: 240px; width: 220px;">
        <div class="group relative product-item-container">
          <div class="imagen-producto">
            <a class="product-item-image" href="{{ card_product.url }}"
                style="background: url({{ card_product.featured_media.image | img_url: '1500x' }}) no-repeat center center; background-size: cover;">
            </a>
          </div>
          <div class="descripcion flex justify-between">
            <div>
              <h3 class="text-sm text-gray-700">
                <a href="{{ card_product.url }}">
                  <h4>{{ card_product.title }}</h4>
                </a>
              </h3>
              <p class="subtitle">
                {%- for field in card_product.metafields.descriptors.subtitle -%}
                  {{ field | truncate: 35 }}
                {%- endfor -%}
              </p>
            </div>
            <!--<p class="text-sm font-medium text-gray-900">{{ card_product.price | money }}</p>-->
          </div>
          <div class="flex justify-between mt-5">
            <a class="button button-buynow" href="">Buy now</a>
            <a class="button button-details" href="">Show details</a>
          </div>
        </div>
  
        <!-- More products... -->
      </div>
    </div>
  </div>