<style>
  footer {
    color: {{ section.settings.text_color }};
  }
  .footer-img {
    position: relative;
    display: inline-block;
    min-height: 50px;
    width: 220px;
    
  }
  .footer-link:hover {
    font-weight: 600;
  }
</style>
<footer class="" style="background-color:{{ section.settings.bg_color }};">
  <div class="container grid grid-cols-3">
    {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'link_list' -%}
            <div class="link_list">
              <h3>{{ block.settings.menu.title }}</h3>
              <hr>
              {% for link in block.settings.menu.links -%}
                <a class="footer-link" href="#">{{ link.title }}<br></a>
              {% endfor %}
            </div>
          {%- when 'image' -%}
            <div class="" style="text-align: center;">
              <span class="footer-img" style="background:url({{ block.settings.image | img_url: '1500x' }}) no-repeat center center; 
                        background-size:contain;"></span>
            </div>
        {%- endcase -%}
      {% endfor %}
    {% endif %}
  </div>
</footer>



{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "image"
      }
    ]
  }
}
{% endschema %}
