
<div class="grid grid-cols-1 sm:grid-cols-2">
{% assign num_block = 0 %}
{%- for block in section.blocks -%}
  {% assign num_block = num_block | plus: 1 %}
  <style>
    .image-button-{{ num_block }} strong {
        color: {{ block.settings.color }};
    }
  </style>
  <div class="image-button image-button-{{ num_block }}" style="background: url({{ block.settings.image | img_url: '1500x' }}) no-repeat center center; background-size: cover;">
    <span class="cover-screen opacity-8"></span>
    <div class="grid grid-cols-6">
      <span class="icon-image-button col-span-1" style="background: url({{ block.settings.icon | img_url: '200x' }}) no-repeat center center; background-size: contain;"></span>
      <h1 class="col-span-4">{{ block.settings.title }}</h1>
      <div class="col-start-2 col-span-4">
        <span class="info">{{ block.settings.info }}</span>
        <span class="info2">{{ block.settings.info2 }}</span>
        <a class="button" href="{{ block.settings.link }}">{{ block.settings.button }}</a>  
      </div>
      
    </div>
    
  </div>
{%- endfor -%}
</div>




{% schema %}
{
  "name": "Image Button",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Multicolumn",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.multicolumn.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.multicolumn.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.multicolumn.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "t:sections.multicolumn.settings.image_width.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Header"
        },
        {
          "type": "richtext",
          "id": "info",
          "label": "Text"
        },
        {
          "type": "richtext",
          "id": "info2",
          "label": "Text 2"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Buton text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Select bold text color",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Button",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
