<style>
    .nav__item-section:hover {
        text-decoration: none;
        background-color: {{ section.settings.bg_color_hover }};
    }
    #container-mobile-menu {
      background-color: #2A3692;
    }
    #container-mobile-menu li {
      color: #FFF;
    }

</style>

<div class="">
    <header class="header header-2 items-center page-width" style="background-color: {{ section.settings.bg_color }}">
    

        <nav class="" x-data>
          <button class="md:hidden" @click="$dispatch('toggle-menu-section')" type="button">
            {% render 'icon-menu', class: 'w-10' %}
          </button>
  
          <ul class="header__menu-nav hidden md:flex">
            {% for link in section.settings.menu.links %}
              {% if link.links != blank %}
                <li class="nav__item nav__item-section py-5 px-4 block relative">
                    <a href="{{ link.url }}" style="color: {{ section.settings.text_color }}">{{ link.title }}</a>
                    <ul class="nav__item-submenu absolute bg-white border py-3 px-4 min-w-[160px] top-16 left-1/2 transform -translate-x-1/2">
                      {% for sublink in linklists[link.handle].links %}
                        <li>
                          <a class="block py-1 hover:opacity-75 " href="{{ sublink.url }}">
                            {{ sublink.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                </li>
              {% else %}
                <li>
                  <a class="nav__item nav__item-section py-5 px-4 block" style="color: {{ section.settings.text_color }}" href="{{ link.url }}"> {{ link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
    
    
    </header>
  
  
    {% render 'mobile-menu-section' %}
  
  </div>
  
  
  {% schema %}
  {
    "name": "Menu section",
    "class": "section-header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.header.settings.menu.label"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#2A3692"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#FFF"
      },
      {
        "type": "color",
        "id": "bg_color_hover",
        "label": "Hover color",
        "default": "#4559AF"
      }
    ],
    "presets": [
      {
        "name": "Menu section"
      }
    ]
  }
  {% endschema %}
  