
    <div class="about-us container grid grid-cols-3 gap-4">
        <div class="p-4 md:col-span-2 sm:col-span-3">
            <h1>{{ section.settings.title | upcase }}</h1>
            <p>{{ section.settings.text1 }}</p>
        </div>
        <div class="p-4 md:col-span-1 sm:col-span-3"><p><img src="{{ section.settings.imagen | img_url: '1500x' }}" /></p></div>
        <div class="p-4 col-span-3">
            <span class="bg-gray"></span>
            <span class="img-about-us" style="background:url({{ section.settings.logo | img_url }}) no-repeat center center; 
                                                    background-size:contain;"></span>
            <p>{{ section.settings.text2 }}</p>
        </div>
    </div> 
{% schema %}
{
    "name": "About Us",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Titulo",
            "default": "About Us"
        },
        {
            "type": "richtext",
            "id": "text1",
            "label": "Primer texto"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
        },
        {
            "type": "richtext",
            "id": "text2",
            "label": "Segundo texto"
            },
        {
            "type": "image_picker",
            "id": "imagen",
            "label": "Imagen"
        }
    ]
}
{% endschema %}