<style>    
    /* Style the tab */
    .tab {
      overflow: hidden;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
      width: 100%;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      font-weight: 600;
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border-top: none;
    }
    .tab-menu-subcategory {
        position: relative;
        display:block;
        height: 250px;
        margin: 5px;
    }
    .tab-menu-subcategory:hover div {
      display: block;
    }
    .tab-menu-subcategory div {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #272F63;
      color: #FFF;
      font-size: 14px;
      padding: 12px;
      display: none;
    }
    .container-swiperMenuTabs {
        width: 100%;
        overflow-x: hidden;
        background-color: #EAEAEA;
    }
    .container-swiperMenuTabs .swiper {
        width: 100%;
        height: 100%;
        padding-bottom: 45px;
    }

    .container-swiperMenuTabs .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      #header-tabmenu {
        padding-top: 25px;
        padding-bottom: 55px;
        background-color: #EAEAEA;
        margin-top: 55px;
      }
      #header-tabmenu p {
        font-size: 24px;
        font-weight: 300;
      }
      .bg-screen-gray {
        position: absolute;
        display: block;
        height: 445px;
        background-color:#F7F7F7;
        width: 100%;
        z-index: -1;
      }
      #tab-menu-header {
        background-color: #EAEAEA;
      }
      #tab-menu-header-logo {
        float:left;
        height: 28px;
        margin-top: 5px;
        margin-right: 12px;
        width: 135px;
        padding-top: 25px;
      }
      #tab-menu-header-logo:hover {
        background-color: #2A3692;
      }
      .tab-menu-header p {
        position: relative;
        display: inline-block;
        float: left;
        font-size: 20px;
        font-weight: 300;
        margin-top: 3px;
        color: #2A3692;
      }
      .tablink-icono {
        width: 40px;
        float: left;
        height: 52px;
      }
      .tablinks:hover .tablink-icono {
        background-color: #272F63 !important;
        
      }
      .tablinks:hover button {
        color: #272F63 !important;
      }
      .tablinks {
        background-color: #EAEAEA !important;
      }
      .tablinks.active > .tablink-icono {
        background-color: #272F63 !important;
        margin-right: 10px;
      }
      .swiper-scrollbar {
        position: relative !important;
      }
      .tab button.active {
        font-weight: 600;
        color:#272F63;
      }
</style>
    
    
    

<div style="background-color:#F7F7F7">
{% if section.settings.menu != blank %}
  <div id="header-tabmenu" class="grid grid-cols-12 sm:grid-cols-12">
    <span class="col-span-6 col-start-4">
      <span id="tab-menu-header-logo" style="background:url({{ section.settings.logo | img_url: '400x' }}) no-repeat center center; background-size: contain;"></span>
      <p>{{ section.settings.title }} </p>
    </span>
    
  </div>
  
  <div class="tab-menu-header container-fluid container-swiperMenuTabs">
    
    <div class="container">
      
      <div class="tab">
          <div class="swiperMenuTabs">
              <div class="swiper-scrollbar"></div>
              <div class="swiper_tab swiper-wrapper">
                  {%- assign i = 0 -%}
                  {% for link in section.settings.menu.links -%}
                      <div class="swiper-slide">
                          <button class="tablinks {% if i == 0 %}active{% endif %}" onclick="openTab(event, '{{ link.handle }}')">
                            {% assign obj = link.object %}
                            {% assign col = collections[obj.handle] %}
                            {% assign icon = col.metafields.custom.icon %}
                            <span class="tablink-icono" style="background:url({{ icon | img_url:'master' }}) no-repeat center center; 
                                            background-size: contain; background-color: gray;"></span>
                            <span class="">{{ obj.title }}</span>
                            
                          </button>
                      </div>
                      {% assign i = i | plus: 1 %}
                  {%- endfor %}
              </div>
              
          </div>
      </div>
    </div>
  </div>
{% endif %}

<span class="bg-screen-gray"></span>
{%- assign i = 0 -%}
{% for link in section.settings.menu.links -%}

    <div id="{{ link.handle }}" class="container tabcontent"
          {% if i == 0 %}style="height:350px; display:block;"{% else %}style="height:325px;"{% endif %} >
          {% assign i = i | plus: 1 %}
        <a class="button filled-button" href="{{ link.url }}">Ver todo</a>
        {% if link.levels > 0 %}
            <div class="swiperMenuTabsSub">
                <div class="swiper-wrapper">
                    {% for sublink in link.links -%}
                        <div class="swiper-slide tab-menu-subcategory" 
                                style="background:url(https://cdn.shopify.com/s/files/1/0566/4607/4438/files/janitorial_supplies_collection_1500x.jpg?v=1652525956) no-repeat center center; background-size: cover;">
                            <span class="cover-screen"></span>
                            <div>
                                <h1>{{ sublink.title }}</h1>
                                <a class="button filled-button" href="{{ sublink.url }}">Ver</a>
                            </div>
                        </div>
                    {% endfor %}
                    
                    <div class="swiper-slide tab-menu-subcategory" 
                                style="background:url(https://cdn.shopify.com/s/files/1/0566/4607/4438/files/janitorial_supplies_collection_1500x.jpg?v=1652525956) no-repeat center center; background-size: cover;">
                            <span class="cover-screen"></span>
                            <div>
                                <h1>{{ sublink.title }}</h1>
                            </div>
                        </div>
                        <div class="swiper-slide tab-menu-subcategory" 
                                style="background:url(https://cdn.shopify.com/s/files/1/0566/4607/4438/files/janitorial_supplies_collection_1500x.jpg?v=1652525956) no-repeat center center; background-size: cover;">
                            <span class="cover-screen"></span>
                            <div>
                                <h1>{{ sublink.title }}</h1>
                            </div>
                        </div>
                </div>
                <div class="swiper-pagination2"></div>
                
            </div>
            
        {% endif %}
        
    </div>
{% endfor %}
</div>


<script>
    function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
    }



    var swiper_tab = new Swiper(".swiperMenuTabs", {
      scrollbar: {
        el: ".swiper-scrollbar"
      },
      breakpoints: {
        // when window width is >= 320px
        120: {
        slidesPerView: 1,
        spaceBetween: 20
        },
        // when window width is >= 480px
        480: {
        slidesPerView: 2,
        spaceBetween: 30
        },
        // when window width is >= 640px
        690: {
        slidesPerView: 3,
        spaceBetween: 40
        },
        900: {
        slidesPerView: 4,
        spaceBetween: 40
        }
      }
    });


    var swiper = new Swiper(".swiperMenuTabsSub", {
      pagination: {
          el: ".swiper-pagination2",
      },
      breakpoints: {
        // when window width is >= 320px
        120: {
        slidesPerView: 1,
        spaceBetween: 20
        },
        // when window width is >= 480px
        480: {
        slidesPerView: 2,
        spaceBetween: 30
        },
        // when window width is >= 640px
        690: {
        slidesPerView: 3,
        spaceBetween: 40
        },
        900: {
        slidesPerView: 3,
        spaceBetween: 40
        }
      }
    });
  </script>




{% schema %}
{
  "name": "Tab Menu",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Texto"
    },
    {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
    }
    
  ],
  "presets": [
      {
        "name": "Tab Menu"
      }
   ]
}
{% endschema %}
